{% extends 'base.html' %}

{% block title %}
    <title>Про магазин</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Про магазин</h1>
    <p>Здравствуйте, уважаемый покупатель!

Мы создавали наш магазин для того, чтобы Ваш выбор был максимально простым и необременительным в финансовом отношении. Для этого мы подобрали продукцию ряда Ведущих производителей, которая Вас, безусловно устроит. Мы готовы помочь вам с выбором, поделиться своим многолетним опытом, результатом чего будет наилучший выбор. Не секрет, что качество продукции разнится от производителя к производителю, но это не означает, что какая-то продукция плохая, а какая-то хорошая. Просто она другая! Спросите нас о тонкостях и особенностях товара и Вы сможете сэкономить время и деньги, а еще, что немаловажно, собственные нервы.
В нашем магазине представлена только оригинальная продукция! Никаких клонов, реплик, подделок!

Наш магазин не производит доставку товара.

Онлайн заказ на предоставленный ассортимент можно осуществить круглосуточно 7 дней в неделю.

Удачных Вам покупок! </p>
</div>
{% endblock %}
